*{
    font-family: 'Indie Flower', cursive;
    margin: 0px;
    padding: 0px;
}

.html{
    overflow-x: hidden;
}

body{
    background-color: #f0e5b6;
}

.nav-link{
    font-size: 13px;
    font-weight: 600;
}