*{
    font-family: 'Indie Flower', cursive;
    margin: 0px;
    padding: 0px;
}

.html{
    overflow-x: hidden;
}

body{
    background-color: #f0e5b6;
}

.ajuste{
    padding: 0;
}

.boton1{
    display: none;
}

.boton2{
    margin: 15px;
}