.titulo{
    text-align: center;
}

.tituloCategoria{
    position: absolute;
    margin-top: 50%;
    font-size: 50px;
}

.verde{
    @extend .tituloCategoria;
    color: $verde;
}

.beige{
    @extend .tituloCategoria;
    color: $beige;
}

.formatoCategoria{
    border-radius: 5%;
    margin: 5px;
    padding: 2px;
}

.zoom {
    transition: transform .2s;
    &:hover{
        transform: scale(1.07);
    }
}