@media (max-width: 576px) {
    nav{
        flex-direction: column-reverse;
        .logo{
            width: 160px;
        }
    }
    
    .nav-link{
        font-size: 13px;
    }

    .acomodo{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .parrafo{
    font-size: 20px;
}
}

@media (min-width: 992px) {
    .parrafo{
        font-size: 28px;
}
}

@media (min-width: 1200px) {
    .parrafo{
        font-size: 34px;
}
}

@media (min-width: 1400px) {
    .parrafo{
        font-size: 39px;
}
}

@media (min-width: 1650px) {
    .parrafo{
        font-size: 45px;
}
}

@media (min-width: 1920px) {
    .parrafo{
        font-size: 55px;
}
}

@media (min-width: 576px) {
    .filtro{
        flex-direction: column;
        font-size: 13px;
    }
}

@media (min-width: 992px) {
    .filtro{
        font-size: 19px;
    }
}

@media (min-width: 1200px) {
    .filtro{
        font-size: 25px;
    }
}