@mixin tamanioTarjeta($a, $h) {
    width: $a;
    height: $h;
}

$colores:(
    boton: #F5F2B3,
    sombras: rgb(109, 52, 6),
    formulario: rgb(231, 154, 92),
    inputColor: #f5d796,
    socialMedia: #000,
    letra: #fff,
)