.tarjetaPromo{
    border: double;
    border-radius: 13px;
    border-color: $verdeClaro;
    min-width: 375px;
    max-width: 992px;
    height: auto;
    margin: 10px;
    padding: 5px;
    box-shadow: inset 1em 1em 5em $verdeClaro;
}

.textoTarjeta{
    text-align: center;
    h3{
        margin: 5px;
    }
    p{
        margin: 5px;
    }
}

.btn-compra{
    width: 75%;
    max-width: 200px;
    padding: 5px;
    background-color: white;
    border-bottom: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: $verdeClaro;
    color: $verdeClaro;
    &:hover{
        background-color: $verdeClaro;
        color: white;
    }
}