* {
  font-family: "Nunito", sans-serif;
  margin: 0px;
  padding: 0px;
}

.titulo {
  text-align: center;
}

.tituloCategoria, .beige, .verde {
  position: absolute;
  margin-top: 50%;
  font-size: 50px;
}

.verde {
  color: #1f4011;
}

.beige {
  color: #FFFEBE;
}

.formatoCategoria {
  border-radius: 5%;
  margin: 5px;
  padding: 2px;
}

.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(1.07);
}

.filtro {
  display: flex;
  justify-content: start;
  font-size: 10px;
}
.filtro ul {
  list-style: none;
}

.tarjetaPromo {
  border: double;
  border-radius: 13px;
  border-color: #519631;
  min-width: 375px;
  max-width: 992px;
  height: auto;
  margin: 10px;
  padding: 5px;
  box-shadow: inset 1em 1em 5em #519631;
}

.textoTarjeta {
  text-align: center;
}
.textoTarjeta h3 {
  margin: 5px;
}
.textoTarjeta p {
  margin: 5px;
}

.btn-compra {
  width: 75%;
  max-width: 200px;
  padding: 5px;
  background-color: white;
  border-bottom: solid;
  border-width: 2px;
  border-radius: 7px;
  border-color: #519631;
  color: #519631;
}
.btn-compra:hover {
  background-color: #519631;
  color: white;
}

i {
  color: black;
  width: 60px;
  opacity: 0.7;
}
i:hover {
  opacity: 1;
}

footer {
  height: 150px;
}

footer div p {
  text-align: center;
}

@media (max-width: 576px) {
  nav {
    flex-direction: column-reverse;
  }
  nav .logo {
    width: 160px;
  }
  .nav-link {
    font-size: 13px;
  }
  .acomodo {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .parrafo {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .parrafo {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .parrafo {
    font-size: 34px;
  }
}
@media (min-width: 1400px) {
  .parrafo {
    font-size: 39px;
  }
}
@media (min-width: 1650px) {
  .parrafo {
    font-size: 45px;
  }
}
@media (min-width: 1920px) {
  .parrafo {
    font-size: 55px;
  }
}
@media (min-width: 576px) {
  .filtro {
    flex-direction: column;
    font-size: 13px;
  }
}
@media (min-width: 992px) {
  .filtro {
    font-size: 19px;
  }
}
@media (min-width: 1200px) {
  .filtro {
    font-size: 25px;
  }
}