* {
  font-family: "Nunito", sans-serif;
  margin: 0px;
  padding: 0px;
}

.verde {
  color: #1f4011;
  position: absolute;
  margin-top: 50%;
  font-size: 50px;
}

.beige {
  color: #FFFEBE;
  position: absolute;
  margin-top: 50%;
  font-size: 50px;
}

.formatoCategoria {
  border-radius: 5%;
  margin: 5px;
  padding: 2px;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.07);
}

.tarjetaPromo {
  border: double;
  border-radius: 13px;
  border-color: #349308;
  min-width: 375px;
  max-width: 992px;
  height: auto;
  margin: 10px;
  padding: 5px;
  font-family: "Nunito", sans-serif;
}

.textoTarjeta h3 {
  margin: 5px;
}
.textoTarjeta p {
  margin: 5px;
}

.btn-compra {
  width: 75%;
  max-width: 200px;
  background-color: white;
  color: #349308;
  border-color: #349308;
  border-radius: 10px;
}
.btn-compra:hover {
  background-color: #349308;
  color: white;
}

i {
  color: black;
  width: 60px;
  opacity: 0.7;
}
i:hover {
  opacity: 1;
}

footer {
  height: 150px;
}

footer div p {
  text-align: center;
}

@media (max-width: 576px) {
  nav {
    flex-direction: column-reverse;
  }
  nav .logo {
    width: 160px;
  }
  .nav-link {
    font-size: 13px;
  }
  .acomodo {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .parrafo {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .parrafo {
    font-size: 25px;
  }
}
.titulo {
  text-align: center;
}